@tailwind base;
@tailwind components;
@tailwind utilities;

.svg-img{ 
    width:7rem;
  
}

.third-block-pic {
    width: 70rem;
    margin-right: 2rem;
}

.mask-img {
    width: 105rem;
    margin-right: 2rem;
}

.bottys {
   border-bottom:.05rem solid black;
}

.full-pic {
    width: 100%;
}

.inputy {
    border:.1rem solid black;
    position: relative;
}

.buttony {
    position: absolute;
    left: 400px;
}

.containery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
 color: white;
  top: 1rem;
}

.containery-2 {
    background-color: rgb(255, 255, 255);
}